.btn{
 padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin: 10px;
  background-color: black;
}
.primary{
    color: rgb(9, 255, 235);
}
.danger{
    color: yellow;
}
.normal{
    color: #ff9292;
    border: 5px solid black;
    border-radius: 10px;
    background-color: chartreuse;
}